In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Bengalore.csv')
data['price'] = data['price'] / 100000

In [3]:
data.head()

,price,sqft,location,bathrooms,bhk,area_type
0,300.00,3340,JP Nagar Phase 1,2.0,1,Super built-up Area
1,78.88,1045,Dasarahalli on Tumkur Road,5.0,3,Plot Area
2,48.66,1179,Kannur on Thanisandra Main Road,2.0,3,Built-up Area
3,83.58,1675,Doddanekundi,3.0,2,Super built-up Area
4,68.45,1670,Kengeri,2.0,4,Super built-up Area

In [4]:
data.shape

(6207, 6)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   price      6207 non-null   float64
 1   sqft       6207 non-null   int64
 2   location   6207 non-null   object
 3   bathrooms  6170 non-null   float64
 4   bhk        6207 non-null   int64
 5   area_type  6207 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 291.1+ KB

In [6]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

84.00     111
31.00      58
110.00     47
78.40      46
105.00     39
         ...
60.25       1
71.63       1
637.00      1
412.00      1
74.87       1
Name: price, Length: 2146, dtype: int64
********************
1500    138
1400     70
1200     64
1450     56
924      52
       ...
2920      1
873       1
3891      1
885       1
2650      1
Name: sqft, Length: 1359, dtype: int64
********************
Electronic City Phase 2     232
RR Nagar                    217
Begur                       186
Varthur                     168
Kumaraswamy Layout          154
                           ...
7th Phase JP Nagar            1
KR Puram Old Madras Road      1
Benson Town                   1
Hegde Nagar                   1
Banashankari Stage III        1
Name: location, Length: 302, dtype: int64
********************
2.0     3225
3.0     1516
4.0      576
1.0      364
5.0      231
6.0      121
7.0       63
8.0       31
9.0       24
10.0       8
12.0       3
11.0       2
16.0       2
15.0       1
27.0       1
40.0       1
14.0       1
Name: bathrooms, dtype: int64
********************
3     2752
2     1980
4      703
1      626
5       72
6       33
7       15
8       10
9        9
10       4
16       1
13       1
11       1
Name: bhk, dtype: int64
********************
Super built-up Area    4073
Built-up Area          1134
Plot Area               955
Carpet Area              45
Name: area_type, dtype: int64
********************

In [7]:
data.isna().sum()

price         0
sqft          0
location      0
bathrooms    37
bhk           0
area_type     0
dtype: int64

In [8]:
data.describe()

             price         sqft    bathrooms          bhk
count  6207.000000  6207.000000  6170.000000  6207.000000
mean    105.851048  1526.094248     2.709562     2.667633
std     141.094340   764.845609     1.435236     1.017834
min      20.000000   415.000000     1.000000     1.000000
25%      50.000000  1110.000000     2.000000     2.000000
50%      73.680000  1340.000000     2.000000     3.000000
75%     107.000000  1662.500000     3.000000     3.000000
max    3000.000000  9900.000000    40.000000    16.000000

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   price      6207 non-null   float64
 1   sqft       6207 non-null   int64
 2   location   6207 non-null   object
 3   bathrooms  6170 non-null   float64
 4   bhk        6207 non-null   int64
 5   area_type  6207 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 291.1+ KB

In [10]:
data['location'].value_counts()

Electronic City Phase 2     232
RR Nagar                    217
Begur                       186
Varthur                     168
Kumaraswamy Layout          154
                           ...
7th Phase JP Nagar            1
KR Puram Old Madras Road      1
Benson Town                   1
Hegde Nagar                   1
Banashankari Stage III        1
Name: location, Length: 302, dtype: int64

In [11]:
data['location'] = data['location'].fillna('RR Nagar')

In [12]:
data['bhk'].value_counts()

3     2752
2     1980
4      703
1      626
5       72
6       33
7       15
8       10
9        9
10       4
16       1
13       1
11       1
Name: bhk, dtype: int64

In [13]:
data['bhk'] = data['bhk'].fillna('2')

In [14]:
data['bathrooms'] = data['bathrooms'].fillna(data['bathrooms'].median())

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   price      6207 non-null   float64
 1   sqft       6207 non-null   int64
 2   location   6207 non-null   object
 3   bathrooms  6207 non-null   float64
 4   bhk        6207 non-null   int64
 5   area_type  6207 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 291.1+ KB

In [16]:
data[data.bhk > 20]

Empty DataFrame
Columns: [price, sqft, location, bathrooms, bhk, area_type]
Index: []

In [17]:
data['sqft'].unique()

array([3340, 1045, 1179, ..., 2204,  873, 2064], dtype=int64)

In [18]:
def convertRange(x):
    temp = x.split('-')
    if len(temp) == 2:
        return (float(temp[0]) + float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [19]:
# data['sqft'] = data['sqft'].apply(convertRange)
data.head()

,price,sqft,location,bathrooms,bhk,area_type
0,300.00,3340,JP Nagar Phase 1,2.0,1,Super built-up Area
1,78.88,1045,Dasarahalli on Tumkur Road,5.0,3,Plot Area
2,48.66,1179,Kannur on Thanisandra Main Road,2.0,3,Built-up Area
3,83.58,1675,Doddanekundi,3.0,2,Super built-up Area
4,68.45,1670,Kengeri,2.0,4,Super built-up Area

# Price Per Square Feet

In [20]:
# data['sqft'] = data['price'] * 1000 / data['sqft']

In [21]:
data['location'].value_counts()

Electronic City Phase 2     232
RR Nagar                    217
Begur                       186
Varthur                     168
Kumaraswamy Layout          154
                           ...
7th Phase JP Nagar            1
KR Puram Old Madras Road      1
Benson Town                   1
Hegde Nagar                   1
Banashankari Stage III        1
Name: location, Length: 302, dtype: int64

In [22]:
data['location'] = data['location'].apply(lambda x: x.strip())

In [23]:
data['location']

0                      JP Nagar Phase 1
1            Dasarahalli on Tumkur Road
2       Kannur on Thanisandra Main Road
3                          Doddanekundi
4                               Kengeri
                     ...
6202                         Chandapura
6203                      Kasavanahalli
6204                      Kasavanahalli
6205                      Kasavanahalli
6206                      Kasavanahalli
Name: location, Length: 6207, dtype: object

In [24]:
location_count = data['location'].value_counts()

In [25]:
location_count

Electronic City Phase 2     232
RR Nagar                    217
Begur                       186
Varthur                     168
Kumaraswamy Layout          154
                           ...
7th Phase JP Nagar            1
KR Puram Old Madras Road      1
Benson Town                   1
Hegde Nagar                   1
Banashankari Stage III        1
Name: location, Length: 302, dtype: int64

In [26]:
location_count_less_10 = location_count[location_count <= 10]
location_count_less_10

Whitefield                  10
Kanakapura                  10
JP Nagar Phase 6             9
RR Nagar Main Road           9
Bagaluru Near Yelahanka      9
                            ..
7th Phase JP Nagar           1
KR Puram Old Madras Road     1
Benson Town                  1
Hegde Nagar                  1
Banashankari Stage III       1
Name: location, Length: 190, dtype: int64

In [27]:
data['location'] = data['location'].apply(lambda x: 'Other' if x in location_count_less_10 else x)

In [28]:
data['location'].value_counts()

Other                      525
Electronic City Phase 2    232
RR Nagar                   217
Begur                      186
Varthur                    168
                          ...
5th Phase                   11
KPC Layout                  11
Uttarahalli Hobli           11
Nayandahalli                11
Lingarajapuram              11
Name: location, Length: 113, dtype: int64

# Outlier Detection and Removal

In [29]:
(data['sqft'] / data['bhk']).describe()

count    6207.000000
mean      673.408081
std       500.080671
min        93.437500
25%       388.666667
50%       524.333333
75%       780.500000
max      8200.000000
dtype: float64

In [30]:
data = data[((data['sqft']/data['bhk']) >= 300)]
data.describe()

             price         sqft    bathrooms          bhk
count  5678.000000  5678.000000  5678.000000  5678.000000
mean    107.378118  1580.001937     2.704473     2.534343
std     132.919109   773.987621     1.439895     0.843256
min      20.000000   520.000000     1.000000     1.000000
25%      51.815000  1154.000000     2.000000     2.000000
50%      76.180000  1376.000000     2.000000     3.000000
75%     109.000000  1705.000000     3.000000     3.000000
max    2700.000000  9900.000000    40.000000    11.000000

In [31]:
data.shape

(5678, 6)

In [32]:
data.price.describe()

count    5678.000000
mean      107.378118
std       132.919109
min        20.000000
25%        51.815000
50%        76.180000
75%       109.000000
max      2700.000000
Name: price, dtype: float64

In [33]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m = np.mean(subdf.price)
        st = np.std(subdf.price)
        gen_df = subdf[(subdf.price > (m-st)) & (subdf.price <= (m+st))]
        df_output = pd.concat([df_output,gen_df],ignore_index =True)
    return df_output
data = remove_outliers_sqft(data)
data.describe()

             price         sqft    bathrooms          bhk
count  4811.000000  4811.000000  4811.000000  4811.000000
mean     87.302961  1523.987113     2.697984     2.532737
std      72.216288   675.188339     1.459229     0.835242
min      20.960000   520.000000     1.000000     1.000000
25%      51.515000  1150.000000     2.000000     2.000000
50%      72.520000  1361.000000     2.000000     3.000000
75%      96.140000  1655.000000     3.000000     3.000000
max     787.000000  8500.000000    40.000000     9.000000

In [34]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, loc_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in loc_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price),
                'std': np.std(bhk_df.price),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in loc_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [35]:
data = bhk_outlier_remover(data)

In [36]:
data.shape

(2987, 6)

In [37]:
data

,price,sqft,location,bathrooms,bhk,area_type
0,67.00000,1180,5th Phase,5.0,3,Super built-up Area
1,58.00000,1185,5th Phase,3.0,3,Super built-up Area
2,85.00000,1430,5th Phase,2.0,3,Super built-up Area
3,84.00000,1180,5th Phase,2.0,1,Plot Area
4,48.76000,1185,5th Phase,3.0,3,Super built-up Area
...,...,...,...,...,...,...
4804,37.61999,943,sarjapura attibele road,3.0,2,Super built-up Area
4805,35.64000,1100,sarjapura attibele road,2.0,2,Super built-up Area
4808,48.52000,1018,sarjapura attibele road,5.0,2,Plot Area
4809,63.32000,1467,sarjapura attibele road,5.0,3,Plot Area
4810,51.75000,1401,sarjapura attibele road,3.0,2,Super built-up Area

# Cleaned Data

In [38]:
data.drop(columns=['area_type'],inplace=True)
data.head()

   price  sqft   location  bathrooms  bhk
0  67.00  1180  5th Phase        5.0    3
1  58.00  1185  5th Phase        3.0    3
2  85.00  1430  5th Phase        2.0    3
3  84.00  1180  5th Phase        2.0    1
4  48.76  1185  5th Phase        3.0    3

In [39]:
data.to_csv("Bengalore_Cleaned_data.csv")

In [40]:
X = data.drop(columns=['price'])
y = data['price']

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [42]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [43]:
print(X_train.shape)
print(X_test.shape)

(2389, 4)
(598, 4)

# Applying Linear Regression

In [44]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['location']),remainder='passthrough')

In [45]:
scaler = StandardScaler()

In [46]:
lr = LinearRegression(normalize=True)

In [47]:
pipe = make_pipeline(column_trans,scaler,lr)

In [48]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [49]:
y_pred_lr = pipe.predict(X_test)

In [50]:
r2_score(y_test, y_pred_lr)

0.6698205876875295

# Applying Lasso

In [51]:
lasso = Lasso()

In [52]:
pipe = make_pipeline(column_trans, scaler, lasso)

In [53]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [54]:
y_pred_lasso = pipe.predict(X_test)

In [55]:
r2_score(y_test, y_pred_lasso)

0.6491826838509556

# Applying Ridge

In [56]:
ridge = Ridge()

In [57]:
pipe = make_pipeline(column_trans, scaler, ridge)

In [58]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [59]:
y_pred_ridge = pipe.predict(X_test)

In [60]:
r2_score(y_test, y_pred_ridge)

0.6688898284199307

In [61]:
print("Linear Regression: ", r2_score(y_test, y_pred_lr))
print("Lasso: ", r2_score(y_test, y_pred_lasso))
print("Ridge: ", r2_score(y_test, y_pred_ridge))

Linear Regression:  0.6698205876875295
Lasso:  0.6491826838509556
Ridge:  0.6688898284199307

In [62]:
import pickle

In [63]:
pickle.dump(pipe, open('BengaloreRidgeModel.pkl', 'wb'))