In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Bengalore.csv')
data['price'] = data['price'] / 10000

In [3]:
data.head()

,price,sqft,location,bathrooms,bhk,area_type
0,3000.0,3340,JP Nagar Phase 1,2.0,1,Super built-up Area
1,788.8,1045,Dasarahalli on Tumkur Road,5.0,3,Plot Area
2,486.6,1179,Kannur on Thanisandra Main Road,2.0,3,Built-up Area
3,835.8,1675,Doddanekundi,3.0,2,Super built-up Area
4,684.5,1670,Kengeri,2.0,4,Super built-up Area

In [4]:
data.shape

(6207, 6)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   price      6207 non-null   float64
 1   sqft       6207 non-null   int64
 2   location   6207 non-null   object
 3   bathrooms  6170 non-null   float64
 4   bhk        6207 non-null   int64
 5   area_type  6207 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 291.1+ KB

In [6]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

840.0     111
310.0      58
1100.0     47
784.0      46
1050.0     39
         ...
350.7       1
553.0       1
945.3       1
9020.0      1
518.0       1
Name: price, Length: 2146, dtype: int64
********************
1500    138
1400     70
1200     64
1450     56
924      52
       ...
2920      1
873       1
3891      1
885       1
2650      1
Name: sqft, Length: 1359, dtype: int64
********************
Electronic City Phase 2            232
RR Nagar                           217
Begur                              186
Varthur                            168
Kumaraswamy Layout                 154
                                  ...
Padmanabhanagar                      1
Ashwathkatte Road                    1
OMBR Layout                          1
Kumaraswamy Layout Vittal Nagar      1
Electronic City Phase I              1
Name: location, Length: 302, dtype: int64
********************
2.0     3225
3.0     1516
4.0      576
1.0      364
5.0      231
6.0      121
7.0       63
8.0       31
9.0       24
10.0       8
12.0       3
11.0       2
16.0       2
15.0       1
27.0       1
40.0       1
14.0       1
Name: bathrooms, dtype: int64
********************
3     2752
2     1980
4      703
1      626
5       72
6       33
7       15
8       10
9        9
10       4
16       1
13       1
11       1
Name: bhk, dtype: int64
********************
Super built-up Area    4073
Built-up Area          1134
Plot Area               955
Carpet Area              45
Name: area_type, dtype: int64
********************

In [7]:
data.isna().sum()

price         0
sqft          0
location      0
bathrooms    37
bhk           0
area_type     0
dtype: int64

In [8]:
data.describe()

              price         sqft    bathrooms          bhk
count   6207.000000  6207.000000  6170.000000  6207.000000
mean    1058.510483  1526.094248     2.709562     2.667633
std     1410.943400   764.845609     1.435236     1.017834
min      200.000000   415.000000     1.000000     1.000000
25%      500.000000  1110.000000     2.000000     2.000000
50%      736.800000  1340.000000     2.000000     3.000000
75%     1070.000000  1662.500000     3.000000     3.000000
max    30000.000000  9900.000000    40.000000    16.000000

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   price      6207 non-null   float64
 1   sqft       6207 non-null   int64
 2   location   6207 non-null   object
 3   bathrooms  6170 non-null   float64
 4   bhk        6207 non-null   int64
 5   area_type  6207 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 291.1+ KB

In [10]:
data['location'].value_counts()

Electronic City Phase 2            232
RR Nagar                           217
Begur                              186
Varthur                            168
Kumaraswamy Layout                 154
                                  ...
Padmanabhanagar                      1
Ashwathkatte Road                    1
OMBR Layout                          1
Kumaraswamy Layout Vittal Nagar      1
Electronic City Phase I              1
Name: location, Length: 302, dtype: int64

In [11]:
data['location'] = data['location'].fillna('RR Nagar')

In [12]:
data['bhk'].value_counts()

3     2752
2     1980
4      703
1      626
5       72
6       33
7       15
8       10
9        9
10       4
16       1
13       1
11       1
Name: bhk, dtype: int64

In [13]:
data['bhk'] = data['bhk'].fillna('2')

In [14]:
data['bathrooms'] = data['bathrooms'].fillna(data['bathrooms'].median())

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   price      6207 non-null   float64
 1   sqft       6207 non-null   int64
 2   location   6207 non-null   object
 3   bathrooms  6207 non-null   float64
 4   bhk        6207 non-null   int64
 5   area_type  6207 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 291.1+ KB

In [16]:
data[data.bhk > 20]

Empty DataFrame
Columns: [price, sqft, location, bathrooms, bhk, area_type]
Index: []

In [17]:
data['sqft'].unique()

array([3340, 1045, 1179, ..., 2204,  873, 2064], dtype=int64)

In [18]:
def convertRange(x):
    temp = x.split('-')
    if len(temp) == 2:
        return (float(temp[0]) + float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [19]:
# data['sqft'] = data['sqft'].apply(convertRange)
data.head()

,price,sqft,location,bathrooms,bhk,area_type
0,3000.0,3340,JP Nagar Phase 1,2.0,1,Super built-up Area
1,788.8,1045,Dasarahalli on Tumkur Road,5.0,3,Plot Area
2,486.6,1179,Kannur on Thanisandra Main Road,2.0,3,Built-up Area
3,835.8,1675,Doddanekundi,3.0,2,Super built-up Area
4,684.5,1670,Kengeri,2.0,4,Super built-up Area

# Price Per Square Feet

In [20]:
data['sqft'] = data['price'] * 100000 / data['sqft']

In [21]:
data['location'].value_counts()

Electronic City Phase 2            232
RR Nagar                           217
Begur                              186
Varthur                            168
Kumaraswamy Layout                 154
                                  ...
Padmanabhanagar                      1
Ashwathkatte Road                    1
OMBR Layout                          1
Kumaraswamy Layout Vittal Nagar      1
Electronic City Phase I              1
Name: location, Length: 302, dtype: int64

In [22]:
data['location'] = data['location'].apply(lambda x: x.strip())

In [23]:
data['location']

0                      JP Nagar Phase 1
1            Dasarahalli on Tumkur Road
2       Kannur on Thanisandra Main Road
3                          Doddanekundi
4                               Kengeri
                     ...
6202                         Chandapura
6203                      Kasavanahalli
6204                      Kasavanahalli
6205                      Kasavanahalli
6206                      Kasavanahalli
Name: location, Length: 6207, dtype: object

In [24]:
location_count = data['location'].value_counts()

In [25]:
location_count

Electronic City Phase 2            232
RR Nagar                           217
Begur                              186
Varthur                            168
Kumaraswamy Layout                 154
                                  ...
Padmanabhanagar                      1
Ashwathkatte Road                    1
OMBR Layout                          1
Kumaraswamy Layout Vittal Nagar      1
Electronic City Phase I              1
Name: location, Length: 302, dtype: int64

In [26]:
location_count_less_10 = location_count[location_count <= 10]
location_count_less_10

Whitefield                         10
Kanakapura                         10
RR Nagar Main Road                  9
JP Nagar Phase 6                    9
Bagalur                             9
                                   ..
Padmanabhanagar                     1
Ashwathkatte Road                   1
OMBR Layout                         1
Kumaraswamy Layout Vittal Nagar     1
Electronic City Phase I             1
Name: location, Length: 190, dtype: int64

In [27]:
data['location'] = data['location'].apply(lambda x: 'Other' if x in location_count_less_10 else x)

In [28]:
data['location'].value_counts()

Other                      525
Electronic City Phase 2    232
RR Nagar                   217
Begur                      186
Varthur                    168
                          ...
Lingarajapuram              11
Uttarahalli Hobli           11
5th Phase                   11
Nayandahalli                11
KPC Layout                  11
Name: location, Length: 113, dtype: int64

# Outlier Detection and Removal

In [29]:
(data['sqft'] / data['bhk']).describe()

count    6.207000e+03
mean     3.101363e+04
std      4.782025e+04
min      1.500464e+03
25%      1.411323e+04
50%      2.127660e+04
75%      3.299055e+04
max      1.735160e+06
dtype: float64

In [30]:
data = data[((data['sqft']/data['bhk']) >= 300)]
data.describe()

              price          sqft    bathrooms          bhk
count   6207.000000  6.207000e+03  6207.000000  6207.000000
mean    1058.510483  7.073572e+04     2.705333     2.667633
std     1410.943400  1.050364e+05     1.431993     1.017834
min      200.000000  4.323034e+03     1.000000     1.000000
25%      500.000000  4.038424e+04     2.000000     2.000000
50%      736.800000  5.371787e+04     2.000000     3.000000
75%     1070.000000  7.243584e+04     3.000000     3.000000
max    30000.000000  3.821656e+06    40.000000    16.000000

In [31]:
data.shape

(6207, 6)

In [32]:
data.price.describe()

count     6207.000000
mean      1058.510483
std       1410.943400
min        200.000000
25%        500.000000
50%        736.800000
75%       1070.000000
max      30000.000000
Name: price, dtype: float64

In [33]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m = np.mean(subdf.price)
        st = np.std(subdf.price)
        gen_df = subdf[(subdf.price > (m-st)) & (subdf.price <= (m+st))]
        df_output = pd.concat([df_output,gen_df],ignore_index =True)
    return df_output
data = remove_outliers_sqft(data)
data.describe()

             price           sqft    bathrooms          bhk
count  5339.000000    5339.000000  5339.000000  5339.000000
mean    844.635357   58418.963164     2.703315     2.663233
std     698.141709   32304.247647     1.455474     1.002292
min     209.600000    4323.034080     1.000000     1.000000
25%     494.000000   40000.000000     2.000000     2.000000
50%     700.500000   52306.122449     2.000000     3.000000
75%     945.200000   67571.404454     3.000000     3.000000
max    7870.000000  359615.384615    40.000000    13.000000

In [34]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, loc_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in loc_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price),
                'std': np.std(bhk_df.price),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in loc_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [35]:
data = bhk_outlier_remover(data)

In [36]:
data.shape

(3228, 6)

In [37]:
data

,price,sqft,location,bathrooms,bhk,area_type
0,670.0000,56779.661017,5th Phase,5.0,3,Super built-up Area
1,580.0000,48945.147679,5th Phase,3.0,3,Super built-up Area
2,850.0000,59440.559441,5th Phase,2.0,3,Super built-up Area
3,840.0000,71186.440678,5th Phase,2.0,1,Plot Area
4,487.6000,41147.679325,5th Phase,3.0,3,Super built-up Area
...,...,...,...,...,...,...
5332,376.1999,39893.944857,sarjapura attibele road,3.0,2,Super built-up Area
5333,356.4000,32400.000000,sarjapura attibele road,2.0,2,Super built-up Area
5336,485.2000,47662.082515,sarjapura attibele road,5.0,2,Plot Area
5337,633.2000,43162.917519,sarjapura attibele road,5.0,3,Plot Area
5338,517.5000,36937.901499,sarjapura attibele road,3.0,2,Super built-up Area

# Cleaned Data

In [38]:
data.head()
data.drop(columns=['area_type'],inplace=True)

In [39]:
data.to_csv("Bengalore_Cleaned_data.csv")

In [40]:
X = data.drop(columns=['price'])
y = data['price']

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [42]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [43]:
print(X_train.shape)
print(X_test.shape)

(2582, 4)
(646, 4)

# Applying Linear Regression

In [44]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['location']),remainder='passthrough')

In [45]:
scaler = StandardScaler()

In [46]:
lr = LinearRegression(normalize=True)

In [47]:
pipe = make_pipeline(column_trans,scaler,lr)

In [48]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [49]:
y_pred_lr = pipe.predict(X_test)

In [50]:
r2_score(y_test, y_pred_lr)

0.8288288377402327

# Applying Lasso

In [51]:
lasso = Lasso()

In [52]:
pipe = make_pipeline(column_trans, scaler, lasso)

In [53]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [54]:
y_pred_lasso = pipe.predict(X_test)

In [55]:
r2_score(y_test, y_pred_lasso)

0.8291928997295084

# Applying Ridge

In [56]:
ridge = Ridge()

In [57]:
pipe = make_pipeline(column_trans, scaler, ridge)

In [58]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [59]:
y_pred_ridge = pipe.predict(X_test)

In [60]:
r2_score(y_test, y_pred_ridge)

0.8293242275716046

In [62]:
print("Linear Regression: ", r2_score(y_test, y_pred_lr))
print("Lasso: ", r2_score(y_test, y_pred_lasso))
print("Ridge: ", r2_score(y_test, y_pred_ridge))

Linear Regression:  0.8288288377402327
Lasso:  0.8291928997295084
Ridge:  0.8293242275716046