In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Housing_Data.csv')
data['price'] = data['price'] / 10

In [3]:
data.head()

,area_type,availability,size,total_sqft,bathrooms,balcony,price
0,Super built-up Area,19-Dec,2 BHK,1056,2.0,1.0,3.907
1,Plot Area,Ready To Move,4 Bedroom,2600,5.0,3.0,12.000
2,Built-up Area,Ready To Move,3 BHK,1440,2.0,3.0,6.200
3,Super built-up Area,Ready To Move,3 BHK,1521,3.0,1.0,9.500
4,Super built-up Area,Ready To Move,2 BHK,1200,2.0,1.0,5.100

In [4]:
data.shape

(13320, 7)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   size          13304 non-null  object
 3   total_sqft    13320 non-null  object
 4   bathrooms     13247 non-null  float64
 5   balcony       12711 non-null  float64
 6   price         13320 non-null  float64
dtypes: float64(3), object(4)
memory usage: 728.6+ KB

In [6]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Jun               1
17-Jan               1
14-Jul               1
15-Aug               1
16-Oct               1
Name: availability, Length: 81, dtype: int64
********************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
10 BHK           2
11 Bedroom       2
11 BHK           2
18 Bedroom       1
13 BHK           1
19 BHK           1
27 BHK           1
43 Bedroom       1
16 BHK           1
12 Bedroom       1
14 BHK           1
Name: size, dtype: int64
********************
1200            843
1100            221
1500            205
2400            196
600             180
               ...
315Sq. Yards      1
3820              1
2546              1
2316              1
2970              1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
11.0       3
13.0       3
16.0       2
14.0       1
40.0       1
18.0       1
27.0       1
15.0       1
Name: bathrooms, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
7.500    310
6.500    302
5.500    275
6.000    270
4.500    240
        ...
1.386      1
7.602      1
8.350      1
6.439      1
9.894      1
Name: price, Length: 1994, dtype: int64
********************

In [7]:
data.isna().sum()

area_type         0
availability      0
size             16
total_sqft        0
bathrooms        73
balcony         609
price             0
dtype: int64

In [8]:
data.describe()

          bathrooms       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376     11.256563
std        1.341458      0.817263     14.897167
min        1.000000      0.000000      0.800000
25%        2.000000      1.000000      5.000000
50%        2.000000      2.000000      7.200000
75%        3.000000      2.000000     12.000000
max       40.000000      3.000000    360.000000

In [9]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
10 BHK           2
11 Bedroom       2
11 BHK           2
18 Bedroom       1
13 BHK           1
19 BHK           1
27 BHK           1
43 Bedroom       1
16 BHK           1
12 Bedroom       1
14 BHK           1
Name: size, dtype: int64

In [10]:
data['size'] = data['size'].fillna('2 BHK')

In [11]:
data['bathrooms'] = data['bathrooms'].fillna(data['bathrooms'].median())

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   size          13320 non-null  object
 3   total_sqft    13320 non-null  object
 4   bathrooms     13320 non-null  float64
 5   balcony       12711 non-null  float64
 6   price         13320 non-null  float64
dtypes: float64(3), object(4)
memory usage: 728.6+ KB

In [13]:
data['bhk'] = data['size'].str.split().str.get(0).astype(int)

In [14]:
data[data.bhk > 20]

,area_type,availability,size,total_sqft,bathrooms,balcony,price,bhk
1718,Super built-up Area,Ready To Move,27 BHK,8000,27.0,0.0,23.0,27
4684,Plot Area,Ready To Move,43 Bedroom,2400,40.0,0.0,66.0,43

In [15]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [16]:
def convertRange(x):
    temp = x.split('-')
    if len(temp) == 2:
        return (float(temp[0]) + float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [17]:
data['total_sqft'] = data['total_sqft'].apply(convertRange)

In [18]:
data.head()

,area_type,availability,size,total_sqft,bathrooms,balcony,price,bhk
0,Super built-up Area,19-Dec,2 BHK,1056.0,2.0,1.0,3.907,2
1,Plot Area,Ready To Move,4 Bedroom,2600.0,5.0,3.0,12.000,4
2,Built-up Area,Ready To Move,3 BHK,1440.0,2.0,3.0,6.200,3
3,Super built-up Area,Ready To Move,3 BHK,1521.0,3.0,1.0,9.500,3
4,Super built-up Area,Ready To Move,2 BHK,1200.0,2.0,1.0,5.100,2

## Price Per Square Feet

In [19]:
data['price_per_sqft'] = data['price'] / data['total_sqft']

In [20]:
data['price_per_sqft']

0        0.003700
1        0.004615
2        0.004306
3        0.006246
4        0.004250
           ...
13315    0.006690
13316    0.011111
13317    0.005259
13318    0.010407
13319    0.003091
Name: price_per_sqft, Length: 13320, dtype: float64

In [21]:
data.describe()

,total_sqft,bathrooms,balcony,price,bhk,price_per_sqft
count,13274.000000,13320.000000,12711.000000,13320.000000,13320.000000,13274.000000
mean,1559.626694,2.688814,1.584376,11.256563,2.802778,0.007908
std,1238.405258,1.338754,0.817263,14.897167,1.294496,0.106430
min,1.000000,1.000000,0.000000,0.800000,1.000000,0.000268
25%,1100.000000,2.000000,1.000000,5.000000,2.000000,0.004267
50%,1276.000000,2.000000,2.000000,7.200000,3.000000,0.005434
75%,1680.000000,3.000000,2.000000,12.000000,3.000000,0.007312
max,52272.000000,40.000000,3.000000,360.000000,43.000000,12.000000

## Outlier Detection And Removal

In [22]:
(data['total_sqft'] / data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [23]:
data = data[((data['total_sqft']/data['bhk']) >= 300)]
data.describe()

,total_sqft,bathrooms,balcony,price,bhk,price_per_sqft
count,12530.000000,12530.000000,12014.000000,12530.000000,12530.000000,12530.000000
mean,1594.564544,2.559537,1.587648,11.138240,2.650838,0.006304
std,1261.271296,1.077938,0.808842,15.207733,0.976678,0.004162
min,300.000000,1.000000,0.000000,0.844000,1.000000,0.000268
25%,1116.000000,2.000000,1.000000,4.900000,2.000000,0.004211
50%,1300.000000,2.000000,2.000000,7.000000,3.000000,0.005294
75%,1700.000000,3.000000,2.000000,11.500000,3.000000,0.006917
max,52272.000000,16.000000,3.000000,360.000000,16.000000,0.176471

In [24]:
data.shape

(12530, 9)

In [25]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key,subdf in df.groupby('area_type'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output,gen_df],ignore_index =True)
    return df_output
data = remove_outliers_sqft(data)
data.describe()

,total_sqft,bathrooms,balcony,price,bhk,price_per_sqft
count,10962.000000,10962.000000,10587.000000,10962.000000,10962.000000,10962.000000
mean,1503.109816,2.494983,1.583262,8.933416,2.601806,0.005628
std,874.748913,1.002880,0.802612,8.003703,0.929741,0.002133
min,300.000000,1.000000,0.000000,0.900000,1.000000,0.001364
25%,1110.000000,2.000000,1.000000,4.900500,2.000000,0.004239
50%,1280.000000,2.000000,2.000000,6.700000,2.000000,0.005181
75%,1631.750000,3.000000,2.000000,10.000000,3.000000,0.006446
max,30400.000000,16.000000,3.000000,210.000000,16.000000,0.017442

In [26]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for area_type, area_df in df.groupby('area_type'):
        bhk_stats = {}
        for bhk, bhk_df in area_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in area_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [27]:
data = bhk_outlier_remover(data)

In [28]:
data.shape

(5439, 9)

In [29]:
data

,area_type,availability,size,total_sqft,bathrooms,balcony,price,bhk,price_per_sqft
2,Built-up Area,Ready To Move,1 BHK,600.0,1.0,1.0,1.500,1,0.002500
3,Built-up Area,20-Dec,3 BHK,1610.0,3.0,2.0,8.100,3,0.005031
4,Built-up Area,Ready To Move,3 BHK,1925.0,3.0,NaN,12.500,3,0.006494
6,Built-up Area,Ready To Move,2 BHK,1296.0,2.0,NaN,8.100,2,0.006250
9,Built-up Area,20-Feb,4 Bedroom,3210.0,2.0,NaN,19.200,4,0.005981
...,...,...,...,...,...,...,...,...,...
10951,Super built-up Area,Ready To Move,2 BHK,1015.0,2.0,2.0,6.000,2,0.005911
10952,Super built-up Area,18-Dec,4 BHK,2856.0,5.0,0.0,15.450,4,0.005410
10956,Super built-up Area,Ready To Move,3 BHK,1675.0,3.0,NaN,9.213,3,0.005500
10960,Super built-up Area,Ready To Move,3 BHK,1715.0,3.0,3.0,11.200,3,0.006531
10961,Super built-up Area,Ready To Move,1 BHK,550.0,1.0,1.0,1.700,1,0.003091

In [30]:
data.drop(columns=['size','price_per_sqft','availability','balcony'],inplace=True)

## Cleaned Data

In [31]:
data.head()

        area_type  total_sqft  bathrooms  price  bhk
2  Built-up  Area       600.0        1.0    1.5    1
3  Built-up  Area      1610.0        3.0    8.1    3
4  Built-up  Area      1925.0        3.0   12.5    3
6  Built-up  Area      1296.0        2.0    8.1    2
9  Built-up  Area      3210.0        2.0   19.2    4

In [32]:
data.to_csv("Cleaned_data.csv")

In [33]:
X = data.drop(columns=['price'])
Y = data['price']

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [35]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, random_state=0)

In [36]:
print(X_train.shape)
print(X_test.shape)

(4351, 4)
(1088, 4)

## Applying Linear Regression

In [37]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['area_type']),remainder='passthrough')

In [38]:
scaler = StandardScaler()

In [39]:
lr = LinearRegression(normalize=True)

In [40]:
pipe = make_pipeline(column_trans,scaler,lr)

In [41]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['area_type'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [42]:
y_pred_lr = pipe.predict(X_test)

In [43]:
r2_score(Y_test,y_pred_lr)

0.8324910262692338

## Applying Lasso

In [44]:
lasso = Lasso()

In [45]:
pipe = make_pipeline(column_trans,scaler, lasso)

In [46]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['area_type'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [47]:
y_pred_lasso = pipe.predict(X_test)
r2_score(Y_test,y_pred_lasso)

0.843972311940159

## Applying Ridge

In [48]:
ridge = Ridge()

In [49]:
pipe = make_pipeline(column_trans,scaler,ridge)

In [50]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['area_type'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [51]:
y_pred_ridge = pipe.predict(X_test)
r2_score(Y_test,y_pred_ridge)

0.8327328663378724

In [52]:
print("Linear Regression: ", r2_score(Y_test, y_pred_lr))
print("Lasso: ", r2_score(Y_test, y_pred_lasso))
print("Ridge: ", r2_score(Y_test, y_pred_ridge))

Linear Regression:  0.8324910262692338
Lasso:  0.843972311940159
Ridge:  0.8327328663378724

In [53]:
import pickle

In [54]:
pickle.dump(pipe, open('RidgeModel.pkl', 'wb'))